practicas/practica2/attribute.xsd



<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
<xs:element name="genero">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="male" type="xs:string"/>
            <xs:element name="female" type="xs:string"/>            
            <xs:any minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>
